<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="name">Push_O</Property>
		<Property name="pattern">${name} - %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [Class:%C Method:%M Line:%L Thread:%t] Message:%msg%n</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
			<!-- <Pattern>${pattern}<Pattern/> -->
		</Console>
		<RollingFile name="file" fileName="log/${name}.log"
			filePattern="log/$${date:yyyy}/$${date:MM}/$${date:dd}/${name}_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="250MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="runMode" level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="file" />
		</Logger>
		<Root level="trace">
			<appender-ref ref="file" />
		</Root>
	</Loggers>
</Configuration>