<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="name">Push_O</Property>
		<Property name="logPath">/home/tcwcbc/</Property>
		<Property name="level">debug</Property>
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%C %M %L %t] %msg%n</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
			<!-- <Pattern>${pattern}<Pattern/> -->
		</Console>
		
		<RollingFile name="client_file" fileName="log/client.log"
			filePattern="log/client/$${date:yyyy}/$${date:MM}/$${date:dd}/${name}_client_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min"/>
		</RollingFile>
		
		<RollingFile name="server_file_debug" fileName="${logPath}log/debug/server_debug.log"
			filePattern="${logPath}log/server/$${date:yyyy}/$${date:MM}/$${date:dd}/debug/${name}_server_debug_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min"/>
		</RollingFile>
		
		<RollingFile name="server_file_error" fileName="${logPath}log/error/server_error.log"
			filePattern="${logPath}log/server/$${date:yyyy}/$${date:MM}/$${date:dd}/error/${name}_server_error_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min"/>
		</RollingFile>
		
		<RollingFile name="server_file_info" fileName="${logPath}log/info/server_info.log"
			filePattern="${logPath}log/server/$${date:yyyy}/$${date:MM}/$${date:dd}/info/${name}_server_info_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min"/>
		</RollingFile>
		
	</Appenders>

	<Loggers>
		<Logger name="client" level="${level}" additivity="false">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="client_file" />
		</Logger>
		<Logger name="server" level="${level}" additivity="false">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="server_file_debug" level="debug" />
			<AppenderRef ref="server_file_info" level="info" />
			<AppenderRef ref="server_file_error" level="error" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>