<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="name">Push_O</Property>
		<Property name="logPath">/home/tcwcbc/</Property>
		<Property name="level">debug</Property>
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%C %M %L %t] Message:%msg%n</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
			<!-- <Pattern>${pattern}<Pattern/> -->
		</Console>
		<RollingFile name="client_file" fileName="log/client.log"
			filePattern="log/client/$${date:yyyy}/$${date:MM}/$${date:dd}/${name}_client_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min"/>
		</RollingFile>
		<RollingFile name="server_file" fileName="${logPath}log/server.log"
			filePattern="log/server/$${date:yyyy}/$${date:MM}/$${date:dd}/${name}_server_%d{yyyyMMddHH}.log">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1000" fileIndex="min"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="client" level="${level}" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="client_file" />
		</Logger>
		<Logger name="server" level="${level}" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="server_file" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>